<div class="container-fluid mt-2" >
    <div class="card mt-1">
        <div class="card-header">
            <h3>Liste des Clients</h3>
        </div>
        <div class="card-body">
       
             <form class="d-flex w-50 mb-3" method="get" th:action="">
                <input  class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
             </form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nom et Prenom</th>
                        <th>Telephone</th>
                        <th>Quartier</th>
                        <th>Numero Villa</th>
                        <th>Commandes</th>
                </tr>
                </thead>
                <tbody>
              @for (item of response?.results; track $index) {
                  <tr >
                    <td >{{item.nomComplet}}</td>
                    <td >{{item.telephone}}</td>
                    <td >{{item.quartier}}</td>
                    <td >{{item.numVilla}}</td>
                    <td>
                          <a routerLink="/commandes/{{item.id}}"    class="btn btn-xs btn-warning  btn-xs"> Mes Commandes </a>
                          <a   class="mr-2 btn btn-outline-success btn-xs" >Nouvelle Commande</a>
                    </td>
                   </tr>
              }  
                
                </tbody>

            </table>
            <nav aria-label="Page navigation example ">
                <ul class="pagination float-end">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    @for (item of response?.pages; track $index) {
                      <li class="page-item" >
                          <a (click)="paginate($index)" class="page-link"  >{{ $index+1}}</a>
                      </li>
                  }
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Content here -->
</div>
